body {
  background: white;
}

.main-content {
  background: #E8EAED;
  min-height: 100vh;
}

.nav-link {
  color: rgba(199, 13, 174, 0.938);
  opacity: 0, 7;
  padding: 1em 0em;
}

.nav-link:hover {
  opacity: 1;
  color: black;
}

.nav-link.active {
  opacity: 1;
  color: #000;
  font-weight: bold;
}

